* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: 800;
  min-height: 15px;
  padding: 0 3px;
}

window#waybar {
  border-radius: 5px;
  background: rgba(26, 27, 38, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button.active {
  color: #00bfbc;
}

tooltip {
  background: #272e33;
}

tooltip label {
  color: white;
}

#pulseaudio {
  color: #7fbbb3;
}

#custom-spotify {
  border-radius: 5px;
  background: #83c092;
  color: #282828;
  padding: 0 5px;
  margin: 5px 0;
}
