* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-weight: 800;
  padding: 0 2px;
  margin-top: 2px;
}

window#waybar {
  background-color: transparent;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background: #272e33;
}

tooltip label {
  color: white;
}

#custom-launcher {
  font-size: 20px;
}

#window,
#clock {
  padding: 0 12px;
}

#temperature,
#power-profile-daemon,
#backlight,
#pulseaudio,
#battery {
  margin: 0 6px;
}

#custom-launcher,
#other,
#essentials {
  margin-right: 16px;
}

#window,
#clock,
#other,
#essentials,
#tray {
  background: #060e20;
  border-radius: 4px;
}

#battery {
  color: #7fbbb3;
}

#battery.charging {
  color: #8decb4;
}

#battery.warning {
  color: #ffc100;
}

#battery.critical {
  color: #c40c0c;
}

#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

#temperature {
  color: #f0932b;
}

#temperature.critical {
  color: #eb4d4b;
}

#backlight {
  color: #90b1b1;
}
