window {
  margin: 5px;
  border: 8px solid #26b8c9;
  border-radius: 10px;
}

#inner-box {
  padding-top: 15px;
  background-color: #1d1d2d;
}

#outer-box {
  margin: 2px;
  padding: 20px;
  background-color: #1e1e2e;
  border-radius: 10px;
}

#text {
  margin: 5px;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #11111b;
  border-radius: 10px;
}

#text:selected {
  text-decoration-color: #cdd6f4;
}
